In [525]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, median_absolute_error
import numpy as np
from sklearn.model_selection import train_test_split

In [526]:
# Read in data as a dataframe
# Instantiate random forest and train on new features
features = pd.read_csv('listings_detail_clean.csv')
# features = features.fillna(0)
features = features.dropna();
features.head(5)

,id,host_id,accommodates,bedrooms,beds,number_of_reviews,host_listings_count,availability_30,minimum_nights,bathrooms,...,40-49,50-59,60-69,70-79,80-84,85-89,90-94,95-100,price,price_log
0,6627449,13886510,0.025891,-0.427395,-0.545710,-0.072227,-0.094294,2.487829,-0.067513,-0.331292,...,0,0,0,0,0,0,0,1,125.0,4.828314
1,5557381,28811542,0.547748,-0.427395,-0.545710,1.977504,-0.094294,-0.702867,-0.067513,-0.331292,...,0,0,0,0,0,0,0,1,69.0,4.234107
2,19609887,137892083,2.113321,1.102601,2.897119,-0.577640,-0.094294,2.032015,-0.148238,-0.331292,...,0,0,0,0,0,0,0,1,150.0,5.010635
3,7949480,119445,-0.495967,-0.427395,-0.545710,0.208558,-0.094294,2.601782,-0.228964,-0.331292,...,0,0,0,0,0,0,0,1,101.0,4.615121
4,1936633,10018391,-0.495967,-0.427395,0.314997,0.713971,-0.094294,-0.702867,-0.067513,-0.331292,...,0,0,0,0,0,0,0,1,115.0,4.744932

In [501]:
print('We have {} days of data with {} variables'.format(*features.shape))

We have 22195 days of data with 236 variables

In [502]:
features.isnull().values.any()

False

In [503]:
features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22195 entries, 0 to 22312
Columns: 236 entries, id to price_log
dtypes: float64(10), int64(226)
memory usage: 40.1 MB

In [504]:
features.head()

,id,host_id,accommodates,bedrooms,beds,number_of_reviews,host_listings_count,availability_30,minimum_nights,bathrooms,...,40-49,50-59,60-69,70-79,80-84,85-89,90-94,95-100,price,price_log
0,6627449,13886510,0.025891,-0.427395,-0.545710,-0.072227,-0.094294,2.487829,-0.067513,-0.331292,...,0,0,0,0,0,0,0,1,125.0,4.828314
1,5557381,28811542,0.547748,-0.427395,-0.545710,1.977504,-0.094294,-0.702867,-0.067513,-0.331292,...,0,0,0,0,0,0,0,1,69.0,4.234107
2,19609887,137892083,2.113321,1.102601,2.897119,-0.577640,-0.094294,2.032015,-0.148238,-0.331292,...,0,0,0,0,0,0,0,1,150.0,5.010635
3,7949480,119445,-0.495967,-0.427395,-0.545710,0.208558,-0.094294,2.601782,-0.228964,-0.331292,...,0,0,0,0,0,0,0,1,101.0,4.615121
4,1936633,10018391,-0.495967,-0.427395,0.314997,0.713971,-0.094294,-0.702867,-0.067513,-0.331292,...,0,0,0,0,0,0,0,1,115.0,4.744932

In [505]:
# features = pd.get_dummies(features)
# Extract features and labels
labels = features['price']
labels2 = features['price_log']
features = features.drop(['price','id','host_id','price_log', 'host_listings_count'], axis = 1)
features.head()
feature_list = list(features.columns)

# Training and Testing Sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.20, random_state = 0)

In [506]:
features.head()

,accommodates,bedrooms,beds,number_of_reviews,availability_30,minimum_nights,bathrooms,10000,10001,10002,...,20-29,30-39,40-49,50-59,60-69,70-79,80-84,85-89,90-94,95-100
0,0.025891,-0.427395,-0.545710,-0.072227,2.487829,-0.067513,-0.331292,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0.547748,-0.427395,-0.545710,1.977504,-0.702867,-0.067513,-0.331292,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2.113321,1.102601,2.897119,-0.577640,2.032015,-0.148238,-0.331292,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,-0.495967,-0.427395,-0.545710,0.208558,2.601782,-0.228964,-0.331292,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,-0.495967,-0.427395,0.314997,0.713971,-0.702867,-0.067513,-0.331292,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [485]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (17756, 231)
Training Labels Shape: (17756,)
Testing Features Shape: (4439, 231)
Testing Labels Shape: (4439,)

In [486]:


rf_exp = RandomForestRegressor(n_estimators= 1000, random_state=100)
rf_exp.fit(train_features, train_labels)

rf_exp.fit(train_features, train_labels)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
           oob_score=False, random_state=100, verbose=0, warm_start=False)

In [487]:
predictions = rf_exp.predict(test_features)
# Performance metrics
errors = abs(predictions - test_labels)
print('Metrics for Random Forest Trained on Expanded Data')
print('Average absolute error:', round(np.mean(errors), 2), 'dollars.')
# Calculate mean absolute percentage error (MAPE)
mape = np.mean(100 * (errors / test_labels))

accuracy = 100 - mape
print('Accuracy:', round(accuracy, 2), '%.')

Metrics for Random Forest Trained on Expanded Data
Average absolute error: 42.69 dollars.
Accuracy: 68.46 %.

In [488]:
# calculating median absolute error with price label
median_absolute_error(test_labels, predictions)

20.806233333333395

In [489]:
# calculating mean absolute error with price label
mean_absolute_error(test_labels, predictions)

42.6923970509485

In [490]:
# printing our predictions and actual data
print (predictions[:10], test_labels[:10])

[  95.9626       87.358        62.572        71.89266667  390.948       106.795
  765.514       271.108        87.881       207.562     ] 16915    100.0
9659      70.0
1198      73.0
15907     85.0
6787     525.0
21673    120.0
16709    400.0
11976    130.0
15571    115.0
12755    179.0
Name: price, dtype: float64

In [491]:
pred_df=pd.DataFrame(predictions, columns=['price_prediction']) 
pred_df.head()

   price_prediction
0         95.962600
1         87.358000
2         62.572000
3         71.892667
4        390.948000

In [514]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels2, test_size = 0.20, random_state = 0)

In [515]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (17756, 231)
Training Labels Shape: (17756,)
Testing Features Shape: (4439, 231)
Testing Labels Shape: (4439,)

In [516]:

rf_exp2 = RandomForestRegressor(n_estimators= 1000, random_state=100)
rf_exp2.fit(train_features, train_labels)


rf_exp2.fit(train_features, train_labels)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
           oob_score=False, random_state=100, verbose=0, warm_start=False)

In [517]:
predictions2 = rf_exp2.predict(test_features)
# Performance metrics
errors = abs(predictions2 - test_labels)
print('Metrics for Random Forest Trained on Expanded Data')
print('Average absolute error:', round(np.mean(errors), 2), 'dollars.')
# Calculate mean absolute percentage error (MAPE)
mape = np.mean(100 * (errors / test_labels))
accuracy = 100 - mape
print('Accuracy:', round(accuracy, 2), '%.')

Metrics for Random Forest Trained on Expanded Data
Average absolute error: 0.27 dollars.
Accuracy: 94.28 %.

In [518]:
# calculating median absolute error with price_log label
median_absolute_error(np.exp(test_labels), np.exp(predictions2))

20.126400293008743

In [520]:
# calculating mean absolute error with price_log label
mean_absolute_error(np.exp(test_labels), np.exp(predictions2))

39.434004559610486

In [523]:
# adding the predicted values into dataframes
pred_df=pd.DataFrame(predictions2, columns=['price_prediction']) 
pred_df.head()

   price_prediction
0          4.621714
1          4.427373
2          4.121965
3          4.186467
4          5.657353

In [524]:
# printing our predictions and actual data
print (predictions2[:10], test_labels[:10])

[ 4.62171407  4.42737322  4.1219652   4.18646728  5.65735294  4.6100392
  6.07994635  5.55065068  4.38938127  5.21348629] 16915    4.605170
9659     4.248495
1198     4.290459
15907    4.442651
6787     6.263398
21673    4.787492
16709    5.991465
11976    4.867534
15571    4.744932
12755    5.187386
Name: price_log, dtype: float64